/* @import url(/public/css/global.css); */
main {
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
} 
.columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 6em;
    padding-right: 6rem;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-container {
    display: flex;
    margin-left: 6rem;
    padding-left: 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
  }
  
  .editar-btn,
  .excluir-btn {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    width: 40%;
  }

  #btn-open-edit,
  #btn-open-delete {
    background-color: var(--background_color);
    border: 1px solid var(--border-blue-button);
    color: var(--border-blue-button);
  }

  #btn-open-edit:hover {
    background-color: var(--input_selected);
  }  
  #btn-open-delete:hover {
    background-color: var(--input_selected);
  }  
  .btn {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 0.6rem;
  }

.adress-area { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}
.submit-btn {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}
  
.submit-btn button {
    display: block;
    text-align: center;
    width: 40%;
}

.close-btn-container {
  display: flex;
  justify-content: end; 
  margin: 0;
}
.btn-close {
  display: block;
  margin: 0;
  padding: 6px;
  height: auto;
  width: auto;
  background-color: var(--background_color);
  border-color: var(--input_border_color);
  color: var(--text_color);
}
.btn-close:hover {
  background-color: var(--input_text_hover);
}
.modal-form-container {
  padding: 0 1rem 1rem 1rem;
}

.modal-h-container {
  display: flex;
  justify-content: center;

}


@media only screen and (max-width: 768px) {
  .columns {
    grid-template-columns: 2fr;
  }
  .buttons-container {
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }
}

@media only screen and (max-width: 580px) {
  .columns {
    grid-template-columns: 1fr;
    padding: 1rem;
    margin: 0;
  }
  .buttons-container {
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  } 

}

.Alert{
  background-color: rgb(173, 209, 173);
  position: absolute;
  top: 6rem;
  border: 1px black;
  width: 100%;
  text-align: center;
  display: block;
}
.hidden{
  display: none;
}
