<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Cadastrar Carona</title>
</head>
<body>

    <header>
        <div class="supergraphic"></div>
        <nav>
            <div class="logo" id="logo"></div>
            <div class="title">
                <a href="/">Carona solidária <strong>BOSCH</strong></a>
            </div>
            <div class="nav-links">
                <div class="container-list">

                <a href="#"><div class="darkmode-btn" id="darkmode-btn" onclick="darkMode()"></div></a>
            </div>
        </nav>
    </header>

    <main>
        <%if(message){%>
        <div class="alert">
                <p>
                    Usuário cadastrado com sucesso!
                </p>     
        </div>
        <%}%>


        <div class="img-wrapper">
            <img src="/img/mobilidade_bosch_10_res_992x558.png" alt="Bosch mobilidade" class="img-long">
        </div>
        <div class="btn-wrapper">
            <div class="card">
                <div class="img-card-wrapper">
                    <img src="/img/car-front.svg" alt="carro" class="img-card">
                </div>
                <a href="/register" class="a-btn"><button class="btn">Cadastro</button></a>
            </div>

            <div class="card">
                <div class="img-card-wrapper">
                    <img src="/img/person-blue.svg" alt="pessoa" class="img-card">
                </div>
                <a href="/map" class="a-btn"><button class="btn">Carona</button></a>
            </div>
        </div>
    </main>

    <footer class="footer" id="footer">

    </footer>
    <script src="/js/main.js" ></script>
</body>
</html>