<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/register.css">
    <title>Cadastrar Carona</title>
</head>
<body>

    <header>
        <div class="supergraphic"></div>
        <nav>
            <div class="logo" id="logo"></div>
            <div class="title">
                <a href="/">Carona solidária <strong>BOSCH</strong></a>
            </div>
            <div class="nav-links">
                <div class="container-list">
                    <ul>
                        <li>
                            <a href="/">Voltar</a>
                        </li>
                    </ul>
                </div>
                <a href="#"><div class="darkmode-btn" id="darkmode-btn" onclick="darkMode()"></div></a>
            </div>
        </nav>
    </header>

    <div>
        <form action="" method="post">
            <div>
                <h1>Cadastrar endereço</h1>
                <label for="nome">Nome: </label>
                <input type="text" name="nome">
                <label for="rua">Rua: </label>
                <input type="text" name="rua">
                <label for="numero">Número: </label>
                <input type="number" name="numero">
                <label for="bairro">Bairro: </label>
                <input type="text" name="bairro">
                <label for="contato">Telefone: </label>
                <input type="text" name="contato">
                <label for="e-mail">E-mail: </label>
                <input type="email" name="e-mail">
                <div>
                    <button type="submit" class="">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>

    <footer class="footer" id="footer">

    </footer>
    <script src="js/main.js" ></script>
</body>

</html>