<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="/css/modal.css">
    <title>Cadastrar Carona</title>
</head>

<body>

    <header>
        <div class="supergraphic"></div>
        <nav>
            <div class="logo" id="logo"></div>
            <div class="title">
                <a href="/">Carona solidária <strong>BOSCH</strong></a>
            </div>
            <div class="nav-links">
                <div class="container-list">
                    <ul>
                        <li>
                            <a href="/">Voltar</a>
                        </li>
                    </ul>
                </div>
                <a href="#"><div class="darkmode-btn" id="darkmode-btn" onclick="darkMode()"></div></a>
            </div>
        </nav>
    </header>
    <main>
        <article>
            <div class="form-container">
                <form action="" method="post">
                    <div class="h1-container">
                        <h1>Cadastrar endereço</h1>
                    </div>   
                    <label for="edv">EDV: </label>
                    <input type="number" name="edv">
                    <label for="nome">Nome: </label>
                    <input type="text" name="nome">
                    <label for="rua">Rua: </label>
                    <input type="text" name="rua">
                    <label for="numero">Número: </label>
                    <input type="number" name="numero">
                    <label for="bairro">Bairro: </label>
                    <input type="text" name="bairro">
                    <label for="contato">Telefone: </label>
                    <input type="text" name="contato">
                    <label for="e-mail">E-mail: </label>
                    <input type="email" name="email">
                    <label for="horario">Horário: </label>
                    <input type="datetime" name="horario">
                    <div class="submit-btn">
                        <button type="submit" class="">Cadastrar</button>
                    </div>
                </form>
            </div>
        </article>

        <aside>
            <div class="buttons-container">
                <div class="editar-btn">
                    <button class="btn btn-open" id="btn-open-delete">Deletar</button>
                </div>
                <div class="excluir-btn">
                    <button class="btn btn-open" id="btn-open-edit">Editar</button>
                </div>
            </div>
        </aside>
    </main>
    <div class="modal-container hidden" id="modal-container">
        <figure>
            <section class="modal hidden" id="modal-edit">
                <div class="flex">
                    <button class="btn-close">⨉</button>
                </div>
                <div>
                    <h3>Editar usuário</h3>
                </div>
                <input type="text" id="edit" placeholder="Digite seu EDV." />
                <button class="btn">Concluir</button>
            </section>

            <div class=""></div>
        </figure>
        <figure>
            <section class="modal hidden" id="modal-delete">
                <form action="/delete" method="post">
                    <div class="flex">
                        <button class="btn-close" id="btn-close-delete">⨉</button>
                    </div>
                    <div>
                        <h3>Deletar usuário</h3>
                        <p>
                        </p>
                    </div>
                    <input type="password" id="edv" placeholder="Digite seu EDV." name="edv"/>
                    <button class="btn" type="submit">Deletar</button>
                </form>
            </section>

            <div class="overlay hidden"></div>
        </figure>
    </div>


    <footer class="footer" id="footer">

    </footer>
    <script src="js/main.js" ></script>
    <script src="js/modal.js"></script>
</body>

</html>